/* regole di stile */
.navbar-cva {
    justify-content: flex-end;
}

.cva-logo {
    width: 150px;
    border-radius: 50%;
}

.search-box {
    max-width: 500px;
    display: flex;
    align-items: center;
}

#search-addon {
    padding-top: 11px;
    padding-bottom: 11px;
}