/* regole di stile */
@font-face {
    font-family: 'Bodoni MT Black';
    src: url('./font/ufontscombodonimtblack1.eot');
    src: local('ufontscombodonimtblack1'), url('./font/ufontscombodonimtblack1.woff') format('woff'), url('./font/ufontscombodonimtblack1.ttf') format('truetype');
}

.cva-logo {
    width: 150px;
    border-radius: 50%;
}

.logo-title{
    font-size: 38px;
    font-family: 'Bodoni MT Black';
}

.search-box {
    width: 500px;
}

#search-addon {
    /* spazio sopra e sotto lente di ingrandimento ricerca */
    padding-top: 11px;
    padding-bottom: 11px;
}

.card-photo {
    /* dimensione e stile immagine dell'archivio foto */
    height: 250px;
    object-fit: cover;
}

.card-photo-book {
    /* dimensione e stile immagine della biblioteca */
    height: 500px;
    object-fit: cover;
}

.external {
    /* icona link esterni allineata verticalmente */
    position: relative;
    bottom: 3px;
}

.main-component {
    background-color: #d87c4a;
}

.main-component-alternative {
    background-color: #4c5d79
}


.btn-themed,
.btn-themed:hover,
.btn-themed:active,
.btn-themed:focus {
    background: #4b5c78;
}

.btn-themed-primary,
.btn-themed-primary:hover,
.btn-themed-primary:active,
.btn-themed-primary:focus {
    background-color: #d87c4a;
    border-color: #a55d36;
    font-weight: bold;
}

/* stile per la mappa */
#map {
    width: 100%;
    height: 400px; 
    margin-top: 40px; 
    margin-bottom: 40px;
}

/* stile tagcloud */
#chartdiv {
    height: 500px !important;
}
